.section-light {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.6;
  text-align: center;
}

.section-light h1 {
  color: black;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-top: 10rem;
  padding-bottom: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  font-family: "Times", serif;
}

@media (max-width: 576px) {
  .section-light h1 {
    font-size: 1.7rem;
  }
}

.section-article-top {
  background-color: #0a0a4d;
  padding: 0;
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  width: 100%;
}

.section-article-top h2, .section-article-top h3 {
  color: white;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section-article-top p {
  color: white;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Open Sans", "serif";
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .section-article-top {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

.section-article-body {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  margin: 0;
}

.section-article-body h3 {
  color: #0a0a4d;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.section-article-body p {
  font-family: 'Noto Sans JP', 'sans-serif';
  line-height: 1.8;
  font-size: 1.4rem;
}

.section-article-body ul li, .section-article-body ol li {
  font-size: 1.4rem;
  line-height: 2.0;
}

@media (min-width: 768px) {
  .section-article-body {
    padding-left: 4rem;
    padding-right: 2rem;
  }
}

.section-card {
  width: 100%;
  text-align: center;
  background-color: white;
  padding-bottom: 0.9rem;
}

.section-card h1 {
  color: black;
  line-height: 3rem;
  padding-top: 10rem;
  padding-bottom: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  font-family: "Times", serif;
}

.section-white {
  padding: 2rem;
}

.section-white h2 {
  font-size: 2.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-white p {
  font-size: 1.1rem;
  font-family: "Open Sans", "sans-serif";
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.separator {
  border-width: 2.5px;
}

.section-white-padding {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.img-center {
  display: block;
  margin: auto;
}

.footer-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-group {
  display: block;
  width: 100%;
  padding-bottom: 3rem;
  text-align: center;
}

.footer-text {
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.icon-group {
  margin: 0;
  padding: 0 0 1rem 0;
}

.icon-group .icon-item, .icon-group #fb-icon, .icon-group #linkedin-icon, .icon-group #github-icon {
  font-size: 4rem;
  padding: 0 1.5rem;
  color: white;
}

.icon-group .icon-item:hover, .icon-group #fb-icon:hover, .icon-group #linkedin-icon:hover, .icon-group #github-icon:hover {
  opacity: 0.9;
}

.navbar-container {
  display: block;
  margin: auto;
  text-align: center;
}

.navbar-ul {
  margin: 0;
  width: 100%;
}

.navbar-container .navbar-nav .nav-item {
  margin: auto 2.2rem;
}

.absolute {
  position: absolute;
  cursor: default;
}

.center-absolute {
  margin: 0;
  padding: 0;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.center {
  text-align: center;
  margin: 0;
  padding: 0;
}

.right-absolute {
  margin: 0;
  padding: 0;
  text-align: right;
  right: 2%;
}

.navbar-brand {
  font-family: "Balthazar", serif;
  font-size: 1.5rem;
  line-height: 0;
}

#navbar-center-brand {
  cursor: default;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.connect-btn {
  margin: auto;
}

.logo-text {
  margin: 0.9rem auto;
  cursor: default;
  color: white;
  font-family: "Balthazar", serif;
  font-size: 1.5rem;
  text-decoration: none;
}

.card-row {
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.card-col {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 0.9rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  overflow: hidden;
}

.thumbnail-hover img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.thumbnail-hover:hover {
  opacity: 0.85;
}

.thumbnail-hover:hover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.nav-pagination {
  width: 100%;
  padding: 2rem;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-img {
  display: block;
  margin: auto;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  width: 280px;
  height: 326.42px;
}

@media (min-width: 768px) {
  .about-img {
    margin: 0;
    margin-left: 2rem;
    width: 300px;
    height: 349.74px;
  }
}

@media (min-width: 992px) {
  .about-img {
    margin-left: 7.5rem;
    width: 340px;
    height: 396.37px;
  }
}

.graph-img-boarding {
  padding: 1rem;
}

.graph-img-boarding img {
  width: 100%;
}

@media (min-width: 576px) {
  .graph-image-boarding img {
    width: 300px;
    height: 200px;
  }
}

.graph-ploty {
  width: 95%;
}

@media (min-width: 992px) {
  .graph-plotly {
    width: 85%;
  }
}

.code-block {
  margin-left: 3rem;
  margin-right: 3rem;
}

.code-block p {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.code-block pre code {
  white-space: pre-line;
  font-size: 1.4rem;
}

.code-block-container {
  background-color: #eee;
}

.contact-container {
  display: block;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

body h1 {
  line-height: 5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=main.css.map */