@import 'variables'
@import 'layouts/layouts-dir'
@import 'components/components-dir'
  
body
  background-image: url('/assets/space-bg.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-color:#464646
  h1
    color: white
    line-height: 5
  
  // margin: 0
  // padding: 0
  // color: white

  // .center
  //   display: block
  //   text-align: center