.section-light
  width: 100%
  background-image: url('/assets/marble-bg.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  opacity: 0.6
  text-align: center
    
  h1
    color: black
    line-height: 3rem
    padding-top: 10rem
    padding-bottom: 8rem
    padding-left: 2rem
    padding-right: 2rem
    margin: 0
    font-family: "Times", serif

    
    