.section-white
  h1
  padding: 2rem

  h2
    font-size: 2.5rem
    font-family: 'Noto Sans JP', sans-serif
    padding-top: 1rem
    padding-bottom: 1rem

  p
    font-size: 1.1rem
    font-family: "Open Sans", "sans-serif"
    padding-right: 1.5rem
    padding-top: 0
    padding-bottom: 0

.separator
  border-width: 2.5px

.section-white-padding
  margin-top: 5rem
  margin-bottom: 3rem

.img-center
  display: block
  margin: auto



