.card-gallery
  
.card-row
  width: auto
  margin-left: 0.5rem
  margin-right: 0.5rem

.card-col
  width: 100%
  margin: 0
  padding: 0
  margin-top: 0.9rem

.thumbnail-hover
  &:hover
    opacity: 0.85

.thumbnail-card
  padding-right: 0.5rem
  padding-left: 0.5rem

